body {
    text-align: center;
}

/*initial code to make a square...needs work to make this flexible to different input numbers*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 512px;
}

.gridSquare {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}